@model TestProjectWeb.Models.Account

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
@*    <h4>Account</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Name)
            @Html.DisplayFor(model => model.Person.Passport)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" style="width:150px" asp-route-id="@Model.Id">Edit</a>
@*    <a asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back to List
    </a>*@
</div>
